<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Evil Insult.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A40319F1DC0B8ED00145872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A4031B31DC0B8ED00145872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A4031BE1DC0B8ED00145872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
